.is-copy-button {
  position: absolute;
  right: 0;
  z-index: 1;
}
.is-hover-visible-target {
  visibility: hidden;
}
.is-hover-visible-parent:hover .is-hover-visible-target {
  visibility: visible;
}
textarea.is-auto-resize {
  resize: none;
  overflow-y: hidden;
}
.menu {
  padding-top: 30px;
  padding-left: 30px;
}
.is-scrollable-container {
  overflow-y: auto;
  max-height: calc(100vh - 60px);
}
.is-width-one-fifth {
  width: 20%;
}
