<section class="columns">
  {{.Menu}}
  <div class="column container is-scrollable-container">
    <section class="hero has-text-centered">
      <div class="hero-body">
        <h1 class="title is-1">{{.Title}}</h1>
        <div class="content is-large">
          <p>
            <b class="has-text-danger">TODO:</b> Add some introduction and
            explanation of what these utilities are and how they work.
          </p>
          <p>
            <b class="has-text-danger">TODO:</b> Add some hover descriptions to
            the links below
          </p>
        </div>
      </div>
      <div class="container">
        {{range $item := .Items}}
        <a class="button is-large" href="{{$item.Url}}" style="padding: 4%"
          >{{$item.Key}}</a
        >
        {{end}}
      </div>
    </section>
  </div>
</section>
