<aside class="menu is-large">
  <p class="menu-label">
    <a href="/utility-playground.html"><b>Playground Utilities</b></a>
  </p>
  <ul class="menu-list">
    {{range $container := .Containers}}
    <li>
      <button
        {{if
        eq
        $.ActiveContainer
        $container.Title}}
        hidden="true"
        class="is-menu-button button is-selected is-outlined is-primary"
        {{else}}
        class="is-menu-button button"
        {{end}}
      >
        <div class="level">
          <div class="level-left">{{$container.Title}}</div>
          <div class="level-right">
            <span class="icon">
              <i
                {{if
                eq
                $.ActiveContainer
                $container.Title}}
                class="fa-solid fa-angle-down"
                {{else}}
                class="fa-solid fa-angle-up"
                {{end}}
              ></i>
            </span>
          </div>
        </div>
      </button>
      <ul
        class="menu-list"
        {{if
        ne
        $.ActiveContainer
        $container.Title}}
        hidden="true"
        {{end}}
      >
        {{range $item := $container.Items}}
        <li>
          <a
            {{if
            and
            (eq
            $.ActiveContainer
            $container.Title)
            (eq
            $.ActiveItem
            $item.Title)
            }}
            class="tab is-active"
            {{else}}
            class="tab"
            {{end}}
            href="{{$item.Url}}"
            >{{$item.Title}}</a
          >
        </li>
        {{end}}
      </ul>
    </li>
    {{end}}
  </ul>
</aside>
