<script>
  const page = {};
  page.toggleTab = function (name, group) {
    const target = document.getElementById(name + "-toggle");
    removeClass("is-link", ...target.parentElement.children);
    addClass("is-link", target);
    hide(...[].slice.call(document.getElementsByClassName(group)));
    unhide(
      ...[].slice.call(document.getElementsByClassName(group + "-" + name))
    );
  };
  page.operator = function (name, n) {
    const warning = document.getElementById("page-warning");
    try {
      const argOps = Array(n)
        .fill(null)
        .map((_, i) => {
          return resolve(
            document
              .getElementById(name + "-arg-" + i + "-ops")
              .querySelector(".is-active").dataset.operator
          );
        });
      const args = Array(n)
        .fill(null)
        .map((_, i) => {
          return argOps[i](
            dataValue(document.getElementById(name + "-input-" + i))
          );
        });
      const op = resolve(
        document
          .getElementById(name + "-result-ops")
          .querySelector(".is-active").dataset.operator
      );
      let result = op(...args);
      if (result instanceof Error) {
        throw result;
      }
      if (Array.isArray(result)) {
        result = arrToSpaceSeparatedString(result);
      }
      document.getElementById(name + "-result").textContent = result;
      hide(warning);
    } catch (err) {
      document.getElementById(name + "-result").textContent = "";
      warning.querySelector("p").textContent = err.message;
      unhide(warning);
    }
  };
</script>
<div class="notification is-warning" id="page-warning" hidden="true">
  <button
    class="delete"
    onclick="javascript:hide(document.getElementById('page-warning'))"
  ></button>
  <div class="content is-large">
    <b><p></p></b>
  </div>
</div>
<section class="columns">
  {{.Menu}}
  <div class="column container is-scrollable-container">
    <section class="hero has-text-centered">
      <div class="hero-body">
        <h1 class="title is-1">{{.Title}}</h1>
      </div>
    </section>
    <div class="buttons is-centered is-toggle is-toggle-rounded are-large">
      {{range $i, $t := .Tabs}}
      <a
        id="{{$t.Name}}-toggle"
        {{if
        eq
        $i
        0}}
        class="button is-link is-width-one-fifth"
        {{else}}
        class="button is-width-one-fifth"
        {{end}}
        {{if
        eq
        (len
        $.Tabs)
        1}}
        href="javascript:void(0)"
        style="cursor: default; pointer-events: none"
        {{else}}
        href="javascript:[
            page.toggleTab('{{$t.Name}}', 'tab-group-function'),
            page.operator('{{$t.Name}}', Number('{{len $t.Args}}')),
          ]"
        {{end}}
        >{{$t.Title}}</a
      >
      {{end}}
    </div>

    {{range $i, $t := .Tabs}} {{if eq $i 0}}
    <script>
      Promise.all(window.wasmContentLoaders).then((_) => {
        page.operator("{{$t.Name}}", Number("{{len $t.Args}}"));
      });
    </script>
    {{end}}
    <div
      class="tab-group-function tab-group-function-{{$t.Name}}"
      {{if
      ne
      $i
      0}}hidden="true"
      {{end}}
    >
      {{if eq (len $t.Args) 0}}
      <div class="level has-text-centered">
        <div class="level-left">
          <div class="level-item">
            <h2 class="subtitle is-2">{{$t.Title}}:</h2>
          </div>
          <div class="level-item">
            <button
              class="button is-large"
              onclick="javascript:page.operator('{{$t.Name}}', 0)"
            >
              Generate
            </button>
          </div>
        </div>
      </div>
      {{end}}{{range $j, $a := $t.Args}}
      <div class="level has-text-centered">
        <div class="level-left">
          <div class="level-item">
            <h2 class="subtitle is-2">{{$a.Title}}:</h2>
          </div>
          <div class="tabs level-item is-large is-toggle is-toggle-rounded">
            <ul id="{{$t.Name}}-arg-{{$j}}-ops">
              {{range $k, $o := $a.Operators}}
              <li
                id="{{$t.Name}}-{{$a.Name}}-{{$o.Name}}-toggle"
                {{if
                eq
                $k
                0}}class="is-active"
                {{end}}
                data-operator="{{$o.Operator}}"
              >
                <a
                  {{if
                  eq
                  (len
                  $a.Operators)
                  1}}
                  href="javascript:void(0)"
                  style="cursor: default; pointer-events: none"
                  {{else}}
                  href="javascript:[
                  page.toggleTab('{{$t.Name}}-{{$a.Name}}-{{$o.Name}}', 'tab-group-function-arg-operator'),
                  page.operator('{{$t.Name}}', Number('{{len $t.Args}}')),
                ]"
                  {{end}}
                  >{{$o.Title}}</a
                >
              </li>
              {{end}}
            </ul>
          </div>
        </div>
      </div>
      <div class="box is-hover-visible-parent">
        <button class="button is-right is-hover-visible-target is-copy-button">
          copy
        </button>
        <div class="content is-large">
          {{if eq $a.Type "text"}}
          <textarea
            id="{{$t.Name}}-input-{{$j}}"
            class="input is-copy-target content is-large is-auto-resize"
            oninput="javascript:page.operator('{{$t.Name}}', Number('{{len $t.Args}}'))"
          ></textarea>
          {{else if eq $a.Type "number"}}
          <input
            id="{{$t.Name}}-input-{{$j}}"
            class="input is-copy-target content is-large"
            style="width: 95%"
            type="number"
            oninput="javascript:page.operator('{{$t.Name}}', Number('{{len $t.Args}}'))"
            {{if
            ne
            $a.Options.NumberOptions
            nil}}
            min="{{$a.Options.NumberOptions.Min}}"
            max="{{$a.Options.NumberOptions.Max}}"
            {{end}}
          />
          {{end}}
        </div>
      </div>
      {{end}}
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="subtitle is-2">Result:</h2>
          </div>
          <div class="tabs is-centered is-large is-toggle is-toggle-rounded">
            <ul id="{{$t.Name}}-result-ops">
              {{range $j, $o := $t.Result.Operators}}
              <li
                id="{{$t.Name}}-result-{{$o.Name}}-toggle"
                {{if
                eq
                $j
                0}}class="is-active"
                {{end}}
                data-operator="{{$o.Operator}}"
              >
                <a
                  {{if
                  eq
                  (len
                  $t.Result.Operators)
                  1}}
                  href="javascript:void(0)"
                  style="cursor: default; pointer-events: none"
                  {{else}}
                  href="javascript:[
                  page.toggleTab('{{$t.Name}}-result-{{$o.Name}}', 'is-tab-group-function-result-operator'),
                  page.operator('{{$t.Name}}', Number('{{len $t.Args}}')),
                ]"
                  {{end}}
                  >{{$o.Title}}</a
                >
              </li>
              {{end}}
            </ul>
          </div>
        </div>
      </div>
      <div class="box is-hover-visible-parent">
        <button class="button is-right is-hover-visible-target is-copy-button">
          copy
        </button>
        <div class="content is-large" style="overflow-wrap: break-word">
          <p id="{{$t.Name}}-result" class="is-copy-target"></p>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</section>
